<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558167798499-h3pdm9ni8gkt6sdr0vc3la7i4kvb6ehc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558167798499-h3pdm9ni8gkt6sdr0vc3la7i4kvb6ehc</string>
	<key>API_KEY</key>
	<string>AIzaSyC-ptaRMZzWUR7aP0V5mEH7MPVGmoioIes</string>
	<key>GCM_SENDER_ID</key>
	<string>558167798499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterProyectoFinal.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>selfraise-51f5b</string>
	<key>STORAGE_BUCKET</key>
	<string>selfraise-51f5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558167798499:ios:7bbcdd2b63596106884bd6</string>
	<key>DATABASE_URL</key>
	<string>https://selfraise-51f5b-default-rtdb.firebaseio.com</string>
</dict>
</plist>